* {
  background-color: #faf0e4;
  font-size: 62.5%;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.logo {
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  height: 80px;
}

.navbarcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 0 15px 6px rgba(204, 204, 204, 0.33);
}

.navlink.box {
  border: 1px solid black;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 14px;
  border-radius: 25px;
}

#shadedbox {
  background-color: #2f2f30;
  color: #faf0e4;
}

.box:hover {
  background-color: #2f2f30;
  color: #faf0e4;
}

.navlinks {
  display: none;
}

.navlink2 {
  font-size: 4rem;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 5px;
}

.introduction {
  background-color: white;
  height: 1000px;
}

.casestudy {
  background-color: #faf0e4;
  height: 1000px;
}

input[type=checkbox] {
  display: none;
}

.dropdown {
  margin-top: 0px;
  padding-right: 70vw;
  width: 100%;
}

nav ul {
  max-height: 0px;
  overflow: hidden;
  list-style: none;
  transition: all 1s cubic-bezier(0.325, 1, 0.22, 1);
  width: 100%;
}

.horizontal > ul {
  width: 100%;
}

.horizontal > li {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 10px;
  padding: 20px;
  width: 200px;
  border-top: 1px solid rgb(183, 183, 183);
}

.horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.bottommenu {
  padding-bottom: 20px;
}

nav {
  padding: 0;
  margin: 0;
  width: 100%;
}

nav li {
  line-height: 3rem;
  font-size: 2rem;
  padding: 10px 0;
  display: flex;
  justify-content: left;
  width: 100%;
}

nav li a {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
}

input[type=checkbox]:checked ~ nav ul {
  height: auto;
  max-height: 50vh;
  transition: all 1s cubic-bezier(0.5, 1, 0.22, 1);
}

.hamburger {
  display: block;
  position: absolute;
  top: 30px;
  right: 13px;
  height: 27px;
  width: 27px;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.line {
  position: absolute;
  display: block;
  background: #3d3d3d;
  width: 18px;
  height: 0.15rem;
  border-radius: 0.2rem;
  left: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
}

.line-1 {
  top: 0;
}

.line-2 {
  top: 7px;
  width: 18px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.line-3 {
  top: 14px;
}

input[type=checkbox]:checked ~ label .line-1 {
  top: 0px;
  width: 22px;
  transform: translateX(-11px) rotate(-45deg) translateY(12px);
}

input[type=checkbox]:checked ~ label .line-2 {
  opacity: 0;
}

input[type=checkbox]:checked ~ label .line-3 {
  top: 14px;
  width: 22px;
  transform: translateX(-8px) rotate(45deg) translateY(-8px);
}

@media screen and (min-width: 990px) {
  .logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 60px;
    height: 80px;
  }
  .navbarcase {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 0 15px 6px rgba(204, 204, 204, 0.33);
  }
  .navlinksmob {
    display: none;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    font-family: "Noto Sans", sans-serif;
    color: black;
    font-size: 2.3rem;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 38px;
  }
  .navlinks div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
  .navlink.box {
    border: 1px solid black;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 14px;
    border-radius: 25px;
  }
  #shadedbox {
    background-color: #2f2f30;
    color: #faf0e4;
  }
  .box:hover {
    background-color: #2f2f30;
    color: #faf0e4;
  }
  a {
    font: inherit;
    text-decoration: inherit;
    color: inherit;
    background-color: transparent;
  }
}
@media screen and (min-width: 1100px) {
  .navlinks div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
  }
}/*# sourceMappingURL=style.css.map */