@mixin padding($value) {
  padding-top: $value;
  padding-bottom: $value;
  padding-left: $value;
  padding-right: $value;
}
@mixin margin($value) {
  margin-top: $value;
  margin-bottom: $value;
  margin-left: $value;
  margin-right: $value;
}
@mixin font($value1, $value2) {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: $value1;
  font-weight: $value2;
}
%linkreset {
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}
* {
  background-color: #faf0e4;
  font-size: 62.5%;
  box-sizing: border-box;
  @include margin(0);
}
.logo {
  width: 100px;
  @include padding(20px);
  margin-left: 20px;
  height: 80px;
}
.navbarcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 0 15px 6px rgba(204, 204, 204, 0.33);
}

.navlinks {
  display: none;
}
.navlink2 {
  font-size: 4rem;
  font-weight: 100;
  @include padding(20px);
  margin-right: 5px;
}
.introduction {
  background-color: white;
  height: 1000px;
}
.casestudy {
  background-color: #faf0e4;
  height: 1000px;
}
// Section for hamburger
input[type="checkbox"] {
  display: none;
}
// distance below top of screen
.dropdown {
  margin-top: 0px;
  padding-right: 70vw;
}
nav ul {
  max-height: 0px;
  overflow: hidden;
  list-style: none;
  transition: all 1s cubic-bezier(0.325, 1, 0.22, 1);
}
.horizontal > li {
  display: inline-block;
}
nav li {
  border-bottom: 0.18rem solid #fff;
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
  display: flex;
  justify-content: left;
}
nav li a {
  font-family: Nunito;
  text-decoration: none;
}
nav li a:hover {
  text-decoration: underline;
}

input[type="checkbox"]:checked ~ nav ul {
  height: auto;
  max-height: 50vh;
  // max height control for drop down
  transition: all 1s cubic-bezier(0.5, 1, 0.22, 1);
}
// controls icon position and animation
.hamburger {
  display: block;
  position: absolute;
  top: 30px;
  right: 13px;
  height: 27px;
  width: 27px;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.line {
  position: absolute;
  display: block;
  background: #3d3d3d;
  width: 18px;
  height: 0.15rem;
  border-radius: 0.2rem;
  left: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
}

.line-1 {
  top: 0;
}

.line-2 {
  top: 7px;
  width: 18px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.line-3 {
  top: 14px;
}

input[type="checkbox"]:checked ~ label .line-1 {
  top: 0px;
  width: 22px;
  transform: translateX(-11px) rotate(-45deg) translateY(12px);
}

input[type="checkbox"]:checked ~ label .line-2 {
  opacity: 0;
}

input[type="checkbox"]:checked ~ label .line-3 {
  top: 14px;
  width: 22px;
  transform: translateX(-8px) rotate(45deg) translateY(-8px);
}
@media screen and (min-width: 480px) {
  // This will be smallest drop off to 1 column testimonials, 1 column in bottom icons and 2 columns in bottom nav
}
@media screen and (min-width: 760px) {
  // This will be next switch to 2 columns in testamonials,  2 columns in all icons and 3 columns in bottom nav
}
@media screen and (min-width: 990px) {
  // This will be next, top nav hides, switch to 3 columns in testamonials, 3 columns mid icons,  2 column in bottom icons and 5+ columns in bottom nav
  .logo {
    width: 100px;
    @include padding(20px);
    margin-left: 60px;
    height: 80px;
  }
  .navbarcase {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 0 15px 6px rgba(204, 204, 204, 0.33);
  }
  .navlinksmob {
    display: none;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    @include font(2.3rem, 500);
    margin-left: 20px;
    margin-right: 38px;
  }
  .navlinks div {
    @include padding(10px);
    margin-left: 10px;
    text-align: center;
  }
  .navlink.box {
    border: 1px solid black;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 14px;
    border-radius: 25px;
  }
  #shadedbox {
    background-color: #2f2f30;
    color: #faf0e4;
  }
  .box:hover {
    background-color: #2f2f30;
    color: #faf0e4;
  }
  a {
    font: inherit;
    text-decoration: inherit;
    color: inherit;
    background-color: transparent;
  }
}
@media screen and (min-width: 1100px) {
  .navlinks div {
    @include padding(10px);
    margin-left: 20px;
  }
}
@media screen and (min-width: 1450px) {
  // Same as previous however nav stops to grow and just centers as does rest of site
}
