@mixin padding($value) {
  padding-top: $value;
  padding-bottom: $value;
  padding-left: $value;
  padding-right: $value;
}
@mixin margin($value) {
  margin-top: $value;
  margin-bottom: $value;
  margin-left: $value;
  margin-right: $value;
}
@mixin font($value1, $value2) {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: $value1;
  font-weight: $value2;
}
@keyframes droponload {
  0% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveuponload {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveuponload2 {
  0% {
    transform: translateY(30%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes movefaruponload {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fadeonload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeonload2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadowonload {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 204, 204, 0.33);
  }
  99% {
    box-shadow: 0 0 0 0 rgba(204, 204, 204, 0.33);
  }
  100% {
    box-shadow: 0 0 15px 6px rgba(204, 204, 204, 0.33);
  }
}
@keyframes centerleftload {
  0% {
    transform: translate(300%, -50%);
  }
  33% {
    transform: translate(300%, -50%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes centerrightload {
  0% {
    transform: translate(-300%, -50%);
  }
  33% {
    transform: translate(-300%, -50%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes rotatestart {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}
%linkreset {
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}
* {
  background-color: #faf0e4;
  font-size: 62.5%;
  box-sizing: border-box;
  @include margin(0);
  max-width: 100vw;
}

.logo {
  width: 100px;
  @include padding(20px);
  margin-left: 0px;
  height: 80px;
  margin-top: 20px;
}
.navbarcase {
  display: flex;
  flex-direction: row;
  z-index: 2;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 0 15px 6px rgba(204, 204, 204, 0.33);
}
.navlink.box {
  border: 1px solid black;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 25px;
  width: 150px;
  display: block;
  align-self: center;
}
#shadedbox {
  background-color: #2f2f30;
  color: #faf0e4;
}
.box:hover {
  background-color: #2f2f30;
  color: #faf0e4;
}
.navlinks {
  display: none;
}
.navlink2 {
  font-size: 4rem;
  font-weight: 100;
  @include padding(20px);
  margin-right: 5px;
}
// Section for hamburger

nav ul {
  max-height: 0px;
  overflow: hidden;
  list-style: none;
  transition: all 5s cubic-bezier(0.325, 1, 0.22, 1);
  width: 100%;
}
.horizontal > ul {
  width: 100%;
  transition: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.linebreak {
  border-top: 1px solid rgb(183, 183, 183);
}
.horizontal > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  transition: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 0px;
  margin-top: 10px;
  transition: none;
}
.bottommenu {
  padding-bottom: 20px;
}
nav {
  padding: 0;
  margin: 0;
  width: 100%;
}
nav li {
  line-height: 3rem;
  font-size: 2rem;
  padding: 10px 0;
  display: flex;
  justify-content: left;
  width: 100%;
}
nav li a {
  @include font(1.4rem, 500);
  text-decoration: none;
  width: 100%;
}

// Level 2 dropdown button 1
.level2 {
  display: none;
  margin: 0;
  padding: 0;
}
#checkbox_toggle2:checked ~ nav ul {
  display: initial;
}
.hamburger2 > div {
  @include font(1.4rem, 500);
}
.dd2 {
  padding-left: 24px;
  @include font(1.4rem, 500);
  transition-timing-function: ease-in-out;
}
.dd2:hover {
  transform: translate(10px, 0px);
  transition-duration: 0.2s;
  color: #3d3d3d;
}

.subtext {
  @include font(1.4rem, 300);
}
.navmargin {
  border-left: 1px solid black;
}
// Level 2 dropdown button 2
#checkbox_toggle3:checked ~ nav ul {
  display: initial;
}
// Level 2 dropdown button 3
#checkbox_toggle4:checked ~ nav ul {
  display: initial;
}
// Top layer hamburger controls

#checkbox_toggle1:checked ~ nav ul {
  max-height: 150vh;
  // max height control for drop down
  transition: all 2s cubic-bezier(0.5, 1, 0.22, 1);
}
input[type="checkbox"] {
  display: none;
}
input[type="radio"] {
  display: none;
}
// controls icon position and animation
.hamburger {
  display: block;
  position: absolute;
  top: 50px;
  right: 25px;
  height: 27px;
  width: 27px;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.line {
  position: absolute;
  display: block;
  background: #3d3d3d;
  width: 18px;
  height: 0.2rem;
  border-radius: 0.2rem;
  left: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
}

.line-1 {
  top: 0;
}

.line-2 {
  top: 7px;
  width: 18px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.line-3 {
  top: 14px;
}

input[type="checkbox"]:checked ~ label .line-1 {
  top: 0px;
  width: 22px;
  transform: translateX(-11px) rotate(-45deg) translateY(12px);
}

input[type="checkbox"]:checked ~ label .line-2 {
  opacity: 0;
}

input[type="checkbox"]:checked ~ label .line-3 {
  top: 14px;
  width: 22px;
  transform: translateX(-8px) rotate(45deg) translateY(-8px);
}

// introduction section
.introduction {
  margin-left: 20px;
  margin-right: 20px;
  hyphens: auto;
}
h1 {
  @include font(4rem, 500);
  text-align: center;
  @include padding(30px);
  padding-bottom: 0px;
}
h3 {
  @include font(3.2rem, 500);
  text-align: center;
  @include padding(40px);
  padding-bottom: 0px;
}
p {
  @include font(1.8rem, 300);
  text-align: center;
  @include padding(20px);
}
p.thin {
  @include font(1.8rem, 300);
  text-align: center;
  @include padding(50px);
  padding-top: 20px;
}
.emailsignup {
  display: flex;
  justify-content: center;
}
#email_address {
  width: 70%;
  max-width: 450px;
  height: auto;
  @include font(1.4rem, 400);
  @include margin(20px);
  margin-right: 0;
  @include padding(15px);
  border: 1px solid black;
  align-items: center;
  border-right: none;
  border-radius: 25px;
}
.signupfree {
  border: 1px solid #186ae5;
  background-color: #186ae5;
  @include margin(20px);
  margin-left: -50px;
  @include padding(15px);
  border-radius: 25px;
  width: 136px;
  @include font(1.4rem, 300);
  color: white;
  text-align: center;
  white-space: nowrap;
}
.videoguide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.imgborder {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  @include margin(10px);
  margin-top: 80px;
  width: 90%;
  max-width: 740px;
}
.vidpic {
  width: 100%;
  @include padding(5px);
  border-radius: 15px;
}
h2 {
  @include font(2.2rem, 300);
  margin-left: -40px;
  line-height: 50px;
}
.bulletbox > ol {
  margin: 0px;
  padding: 0px;
  @include font(3rem, 300);
  color: #98999a;
  line-height: 50px;
}
ol > li {
  padding-left: 20px;
}
.hover2 {
  transition: color 0.5s;
  position: relative;
  line-height: 50px;
}
.hover2:hover {
  color: black;
  list-style: none;
}

.hover2:hover .circle {
  opacity: 1;
}

.hover2:hover .arrow {
  transform: translateY(0%);
  opacity: 1;
}
.hover2:hover .number {
  transform: translateY(50%);
  opacity: 0;
  color: black;
  z-index: 1;
}
.arrow {
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  position: absolute;
  top: 0px;
  left: -32px;
  font-size: 2rem;
  opacity: 0;
  background-color: transparent;
  transform: translateY(-75%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;
}
.circle {
  border-radius: 50%;
  background-color: #f67748;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  position: absolute;
  top: 5px;
  left: -32px;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.number {
  width: 40px;
  height: 40px;
  text-align: center;
  color: #98999a;
  background-color: transparent;
  position: absolute;
  top: 0px;
  z-index: -1;
  left: -32px;
  font-size: 2rem;
  transition: opacity 0.4s ease-out, transform 0.5s ease-in-out;
}
.overview {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//
//
// Grid Image
.introduction2 {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  display: none;
}
.container {
  display: grid;
  column-gap: 0;
  row-gap: 0;
  grid-template-columns: 0.6fr 0.6fr 1fr 42% 1fr 0.6fr 0.6fr;
  grid-template-rows: auto;
  width: 100%;
  max-width: 1000px;
  background-color: transparent;
  justify-items: center;
  align-items: center;

  .largecell {
    min-width: 550px;
    max-width: 650px;
    height: 100%;
    grid-column: 3 / 6;
    grid-row: 3 / 8;
    background-color: transparent;
  }
  .mediumcell {
    width: 100%;
    max-width: 650px;
    height: 100%;
    grid-column: 3 / 6;
    grid-row: 8 / 9;
    background-color: transparent;
  }
  .spacecell {
    width: 100%;
    height: 60px;
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color: transparent;
  }
  .cell1 {
    width: 130%;
    height: 50%;
    grid-column: 1 / 3;
    grid-row: 8 / 9;
    z-index: 1;
    background-color: transparent;
    .collage {
      transform: translate(-1.5vw, -10vw);
    }
  }
  .cell2 {
    width: 220%;
    height: 150%;
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    background-color: transparent;

    .collage {
      transform: translate(2vw, 1vw);
    }
  }
  .cell3 {
    width: 170%;
    height: 200%;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    background-color: transparent;

    .collage {
      transform: translate(6.7vw, 4.5vw);
    }
  }
  .cell4 {
    width: 150%;
    height: 150%;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    background-color: transparent;

    .collage {
      transform: translate(1vw, 3vw);
    }
  }
  .cell5 {
    width: 130%;
    height: 130%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: transparent;

    .collage {
      transform: translate(-3vw, 2.5vw);
    }
  }
  .cell6 {
    width: 50%;
    height: 50%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: transparent;

    .collage {
      transform: translate(-1vw, -2.5vw);
    }
  }
  .cell7 {
    width: 100%;
    height: 100%;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    background-color: transparent;

    .collage {
      max-height: 130px;
      width: auto;
    }
  }
  .cell8 {
    width: 50%;
    height: 50%;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    background-color: transparent;

    .collage {
      transform: translate(-2vw, -2.5vw);
    }
  }
  .cell9 {
    width: 150%;
    height: 150%;
    grid-column: 6 / 7;
    grid-row: 2 / 3;
    background-color: transparent;

    .collage {
      transform: translate(-1vw, 6.5vw);
    }
  }
  .cell10 {
    width: 180%;
    height: 180%;
    grid-column: 6 / 7;
    grid-row: 4 / 5;
    background-color: transparent;
    z-index: 1;

    .collage {
      transform: translate(5vw, 13.5vw);
    }
  }
  .cell11 {
    width: 150%;
    height: 50%;
    grid-column: 6 / 8;
    grid-row: 8 / 9;
    background-color: transparent;
    .collage {
      transform: translate(2vw, -13vw);
      z-index: 0;
    }
  }
  .collage {
    width: 100%;
    background-color: transparent;
  }
}

//
//
// Overview
.carouselgrid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: auto auto;
  row-gap: 20px;
  margin: 5px;
}
.overviewpic {
  width: 95%;
  aspect-ratio: 43 / 26;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 15px;
  object-fit: contain;
  object-fit: fill;
  @include padding(10px);
  display: none;
  border: 1px solid black;
  grid-column: 1 / 7;
  grid-row: 2 / 3;
}
.overviewpic.one {
  display: initial;
}
.carouselbutton {
  @include font(2.5vw, 400);
  padding: 10px;
  color: grey;
  border-radius: 25px;
  text-align: center;
  align-self: center;
  margin: 0px;
  padding: 0px;
  min-width: 0;
}
.carouselbutton.blank {
  display: none;
  color: #faf0e4;
}

#checkbox_togglecarousel1:checked + label,
#checkbox_togglecarousel2:checked + label,
#checkbox_togglecarousel3:checked + label,
#checkbox_togglecarousel4:checked + label,
#checkbox_togglecarousel5:checked + label,
#checkbox_togglecarousel6:checked + label {
  color: black;
  border: 1px solid black;
  border-radius: 25px;
}
#checkbox_togglecarousel1:checked ~ .overviewpic.one,
#checkbox_togglecarousel2:checked ~ .overviewpic.two,
#checkbox_togglecarousel3:checked ~ .overviewpic.three,
#checkbox_togglecarousel4:checked ~ .overviewpic.four,
#checkbox_togglecarousel5:checked ~ .overviewpic.five,
#checkbox_togglecarousel6:checked ~ .overviewpic.six {
  display: initial;
  animation: fadeonload 0.7s ease-in-out;
}

//
//
// AI Section
.ai {
  text-align: center;
}
h4 {
  @include font(2.4rem, 500);
  margin-top: 50px;
  margin-bottom: 40px;
}
.aicontainer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 10px;
}
.aiiconbox {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 64px;
  height: 64px;
  border-radius: 15px;
  border: 1px solid black;
}
.aiiconimg {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
.subheader {
  @include font(1.5rem, 500);
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.subheader .subtext {
  @include font(1.5rem, 300);
  margin-top: 5px;
}
.aiiconouterbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//
//
// Recommend
.recommend {
  text-align: center;
  margin: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.sponsorgrid {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 20px;
}
.sponsorpic {
  max-height: 35px;
  max-width: 100%;
}
//
//
// Footer
.footerdecal {
  width: 100%;
}
.footerimage {
  width: 100%;
}

//
//
// How it works

.howitworks {
  background-color: #2f2f30;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.howitworks .div {
  background-color: #2f2f30;
}
.topwave {
  width: 100vw;
  background-color: transparent;
  margin-bottom: -3px;
}
.bottomwave {
  width: 100vw;
  transform: rotate(180deg);
  background-color: transparent;
  margin-top: -10px;
}
.wavepic {
  height: auto;
}
h5 {
  @include font(3.4rem, 500);
  color: white;
  background-color: #2f2f30;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  background-color: #2f2f30;
}
h6 {
  @include font(2.4rem, 500);
  color: white;
  background-color: #2f2f30;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  background-color: #2f2f30;
}
.purplebutton {
  width: auto;
  text-align: center;
  @include font(1.2rem, 500);
  color: white;
  background-color: #9958e1;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 25px;
  margin-bottom: 20px;
}
.greytext {
  @include font(1rem, 600);
  color: #98999a;
  background-color: transparent;
  letter-spacing: 1px;
}
.aianimation {
  width: 80%;
  max-width: 600px;
  background-color: transparent;
}
.animationscreenshot {
  width: 100%;
  background-color: transparent;
}
.blackbackground {
  text-align: center;
  @include font(1.6rem, 300);
  background-color: #2f2f30;
  color: white;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  align-self: center;
}
.greybutton {
  width: 90%;
  text-align: center;
  @include font(1.4rem, 400);
  color: white;
  background-color: #2f2f30;
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 30px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.greybutton:hover {
  background-color: white;
  color: #2f2f30;
}
.blackcontainer {
  background-color: #2f2f30;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 40px);
  max-width: 1100px;
  margin: 20px;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 40px;
  border: 0.5px solid #98999a;
  border-radius: 10px;
}
.blackbackground.large {
  text-align: center;
  @include font(2.2rem, 300);
  background-color: #2f2f30;
  color: white;
  width: 90%;
  max-width: 900px;
}
.staffbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
.staffbox,
.staffimage,
.staffdetails,
.title,
.workplace {
  background-color: #2f2f30;
}
.staffimage {
  width: 80px;
}
.title {
  padding: 10px;
  @include font(1.6rem, 600);
  color: #98999a;
  .workplace {
    @include font(1.6rem, 300);
    color: #98999a;
  }
}
.howcontainer {
  width: calc(100% - 60px);
  max-width: 1100px;
  margin: 30px;
  background-color: #444445;
  border-radius: 10px;
  justify-content: left;
}
.howcontainer.one {
  width: calc(100% - 60px);
  max-width: 1100px;
  margin: 30px;
  background-color: #444445;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, auto);
  justify-content: left;

  .gridcell {
    border-radius: 10px;
    margin: 20px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    div {
      max-width: 100%;
      background-color: transparent;
      margin: 20px;
      margin-bottom: 10px;
      margin-top: 10px;

      img {
        max-width: 100%;
      }
    }
    .numberheader {
      @include font(2rem, 500);
    }
    .subheading {
      @include font(1.6rem, 400);
    }
    .button {
      @include font(1.4rem, 300);
      color: white;
      background-color: #f67748;
      width: 100px;
      border-radius: 15px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;

      img {
        width: 25px;
        background-color: transparent;
        padding: 2px;
        padding-right: 5px;
      }
    }
    .textbox {
      @include font(1.2rem, 400);
    }
    .imgbox {
      margin-bottom: 0px;
      padding-bottom: 0px;
      margin: 0px;
      display: flex;
      justify-content: center;
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
      img {
        background-color: transparent;
        max-height: 150px;
        margin: 0px;
      }
    }
    .hoverbutton {
      background-color: rgba(255, 255, 255, 0.713);
      margin: 0px;
      position: absolute;
      bottom: 20px;
      right: 10px;
      @include font(1.4rem, 400);
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
    }
  }
  .gridcell.one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 10px;
    min-width: calc(100% - 20px);
  }
  .gridcell.two {
    background-color: #ffddd1;
    margin: 10px;
    justify-self: center;
  }
  .gridcell.three {
    background-color: #f7e3ea;
    margin: 10px;
    justify-self: center;
  }
  .gridcell.four {
    margin: 10px;
    background-color: white;
    justify-self: center;
    width: 100%;
  }
  .gridcell.five {
    background-color: white;
    margin: 10px;
    justify-self: center;
    width: 100%;
  }
  div,
  p {
    background-color: #444445;
    margin: 10px;
    text-align: left;
    padding: 0px;
    @include font(1.5rem, 300);
    color: white;
  }
  h6 {
    background-color: #444445;
    margin: 10px;
    text-align: left;
    padding: 0px;
    @include font(2rem, 400);
    color: white;
  }
  .purplebutton {
    width: 120px;
    text-align: center;
    @include font(1.2rem, 500);
    color: white;
    background-color: #9958e1;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
  }
}
.howcontainer.two,
.howcontainer.three {
  width: calc(100% - 60px);
  max-width: 1100px;
  height: auto;
  margin: 30px;
  padding: 20px;
  background-color: #444445;
  border-radius: 15px;
  position: relative;

  div {
    background-color: #444445;
    border-radius: 15px;
    margin: 20px;

    .imageunderlay {
      background-color: white;
      width: 80%;
      max-width: 560px;
      padding: 10%;
      transform: translateX(20px);
    }
    .imageoverlay {
      margin: 0px;
      width: 30%;
      max-width: 190px;
      position: absolute;
      top: 15%;
      left: 10%;
      box-shadow: 0px 0px 5px 2px #efefef9f;
      border-radius: 5px;
    }
    .imageright {
      background-color: white;
      width: 100%;
      max-width: calc(100% - 30px);
      height: calc(100% - 60px);
      max-height: 100%;
      padding-top: 5%;
      padding-left: 5%;
      padding-bottom: 5%;
      padding-right: 0px;
      overflow: hidden;
    }
    .button {
      @include font(1.4rem, 300);
      color: #974e01;
      background-color: #f67748;
      width: auto;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
      padding-left: 15px;
      padding-right: 15px;
      position: absolute;
    }
    .button.one {
      background-color: #d3f7f9;
      height: 25px;
      top: 5%;
      left: 70px;
    }
    .button.two {
      background-color: #fff3c2;
      height: 25px;
      top: 5%;
      left: 110px;
    }
    .button.three {
      background-color: #ffe6cc;
      height: 25px;
      top: 5%;
      left: 20px;

      img {
        width: 25px;
        background-color: transparent;
        fill: #974e01;
        padding: 2px;
        padding-right: 5px;
      }
    }
  }
  .imagebox {
    margin: 0px;
    width: calc(100% - 20px);
    background-color: white;
    transform: translate(-20px, 20px);
    border-radius: 0px 15px 0px 15px;
  }
  .strikeout {
    text-decoration: line-through;
  }
  h6 {
    background-color: #444445;
    text-align: left;
    @include font(2rem, 400);
    color: white;
  }
  .greytext {
    font-size: 1.4rem;
  }
  p {
    background-color: #444445;
    margin: 20px;
    text-align: left;
    padding: 0px;
    @include font(1.5rem, 300);
    color: white;
  }
}
.howcontainer.three {
  .imagebox {
    margin: 0px;
    width: calc(100% - 20px);
    background-color: white;
    transform: translate(20px, 20px);
    border-radius: 15px 0px 15px 0px;
    display: flex;
    justify-content: right;
    transform: translate(40px, 20px);
  }
}
#purplebutton {
  width: 120px;
  text-align: center;
  @include font(1.2rem, 500);
  color: white;
  background-color: #9958e1;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}
.howlargecontainer {
  background-color: #2f2f30;
  display: grid;
  max-width: 1100px;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;

  .blackbackground.large {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .howcontainer.one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .howcontainer.two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .howcontainer.three {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .greybutton.long {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 90%;
    max-width: 90%;
  }
}
//
//
// Media Queries
@media screen and (min-width: 480px) {
  // This will be smallest drop off to 1 column testimonials, 1 column in bottom icons and 2 columns in bottom nav
  nav ul {
    transition: all 0s cubic-bezier(0.325, 1, 0.22, 1);
  }
  nav li {
    transition: all 0s cubic-bezier(0.325, 1, 0.22, 1);
  }
  .logo {
    width: 100px;
    @include padding(20px);
    margin-left: 20px;
    height: 80px;
    margin-top: 20px;
  }
  .horizontal > ul {
    width: 100%;
    transition: none;
  }
  .horizontal > li {
    width: 100%;
    text-align: center;
    transition: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgb(183, 183, 183);
    transition: none;
  }
  .horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 0px;
    margin-top: 10px;
    transition: none;
  }

  //
  //
  // Recommend
  .sponsorgrid {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 20px;
  }
  //
  //
  // How it works

  .howcontainer.one {
    width: calc(100% - 60px);
    max-width: 1100px;
    margin: 30px;
    background-color: #444445;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    justify-content: left;

    .gridcell {
      border-radius: 10px;
      margin: 20px;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      div {
        max-width: 100%;
        background-color: transparent;
        margin: 20px;
        margin-bottom: 10px;
        margin-top: 10px;

        img {
          max-width: 100%;
        }
      }
      .numberheader {
        @include font(2rem, 500);
      }
      .subheading {
        @include font(1.6rem, 400);
      }
      .button {
        @include font(1.4rem, 300);
        color: white;
        background-color: #f67748;
        width: 100px;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;

        img {
          width: 25px;
          background-color: transparent;
          padding: 2px;
          padding-right: 5px;
        }
      }
      .textbox {
        @include font(1.2rem, 400);
      }
      .imgbox {
        margin-bottom: 0px;
        padding-bottom: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        img {
          background-color: transparent;
          max-height: 150px;
          margin: 0px;
        }
      }
      .hoverbutton {
        background-color: rgba(255, 255, 255, 0.713);
        margin: 0px;
        position: absolute;
        bottom: 20px;
        right: 10px;
        @include font(1.4rem, 400);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
      }
    }
    .gridcell.one {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
      margin: 10px;
      min-width: calc(100% - 20px);
    }
    .gridcell.two {
      background-color: #ffddd1;

      margin-bottom: 0px;
      margin-right: 10px;
      justify-self: center;
    }
    .gridcell.three {
      background-color: #f7e3ea;
      margin-bottom: 0px;
      margin-left: 10px;
    }
    .gridcell.four {
      margin: 10px;
      width: calc(100% - 20px);
      background-color: white;
    }
    .gridcell.five {
      background-color: white;
      margin: 10px;
      width: calc(100% - 20px);
    }
    div,
    p {
      background-color: #444445;
      margin: 10px;
      text-align: left;
      padding: 0px;
      @include font(1.5rem, 300);
      color: white;
    }
    h6 {
      background-color: #444445;
      margin: 10px;
      text-align: left;
      padding: 0px;
      @include font(2rem, 400);
      color: white;
    }
    .purplebutton {
      width: 120px;
      text-align: center;
      @include font(1.2rem, 500);
      color: white;
      background-color: #9958e1;
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 25px;
    }
  }
}
@media screen and (min-width: 760px) {
  // This will be next switch to 2 columns in testamonials,  2 columns in all icons and 3 columns in bottom nav
  .videoguide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-top: 80px;
  }
  .imgborder {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    @include margin(10px);
    margin-top: 40px;
    width: 40%;
    max-width: 600px;
  }
  .vidpic {
    width: 100%;
    @include padding(5px);
    border-radius: 15px;
  }
  .bulletbox {
    width: 30%;
  }
  .level1 {
    height: 0px;
  }
  .logo {
    width: 100px;
    height: 80px;
    margin: 0;
    margin-left: 10px;
  }
  .navbarcase {
    height: 80px;
  }
  .hamburger {
    top: 35px;
    right: 25px;
  }
  .navlogo {
    height: 80px;
  }
  .horizontal {
    margin: 0px;
    align-items: center;
    height: 72px;
    display: flex;
    justify-content: center;
    transition: none;
  }
  .horizontal > li {
    display: inline-block;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(183, 183, 183);
    min-height: 72px;
    transition: none;
  }
  #horizontal {
    transition: none;
  }
  .introduction {
    display: none;
  }
  .introduction2 {
    display: initial;
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 6rem;
  }
  h3 {
    @include font(4rem, 500);
    text-align: center;
    @include padding(40px);
    padding-bottom: 0px;
  }
  //
  //
  // AI Section

  .aicontainer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
  }

  //
  //
  // How it works

  .howcontainer.one {
    width: calc(100% - 60px);
    max-width: 1100px;
    margin: 30px;
    padding: 20px;
    background-color: #444445;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: left;

    .gridcell.one {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      margin: 10px;
      min-width: 100%;
      align-self: center;
    }
  }
  .howlargecontainer {
    .greybutton.long {
      width: 200px;
      max-width: 200px;
      justify-self: center;
    }
  }
  h5 {
    font-size: 4rem;
    padding-bottom: 100px;
  }
  .blackbackground {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .greybutton {
    width: 200px;
  }
  .blackcontainer {
    margin: 40px;
    width: calc(100% - 80px);
  }
  h6 {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 990px) {
  // This will be next, top nav hides, switch to 3 columns in testamonials, 3 columns mid icons,  2 column in bottom icons and 5+ columns in bottom nav
  .logo {
    width: 100px;
    @include padding(20px);
    margin-left: 60px;
    height: 80px;
  }
  .navbarcase {
    display: flex;
    align-items: center;
    position: sticky;
    align-content: center;
    height: 80px;
    top: 0;
    box-shadow: 0 0 15px 6px rgba(204, 204, 204, 0.33);
  }
  .hamburger,
  .level1 {
    display: none;
  }
  .logo {
    width: 100px;
    height: 80px;
    margin: 0;
    margin-left: 50px;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @include font(2.3rem, 500);
    margin-left: 10px;
    margin-right: 24px;
  }
  .navlinks div {
    @include padding(10px);
    padding-left: 0px;
    padding-right: 8px;
    margin-left: 10px;
    text-align: center;
  }
  .navlink {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .navlink.box {
    border: 1px solid black;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 14px;
    border-radius: 25px;
  }
  #shadedbox {
    background-color: #2f2f30;
    color: #faf0e4;
  }
  .box:hover {
    background-color: #2f2f30;
    color: #faf0e4;
  }
  a {
    font: inherit;
    text-decoration: inherit;
    color: inherit;
    background-color: transparent;
  }
  .navlink.box {
    border: 1px solid black;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 25px;
    width: 150px;
    display: block;
  }
  .imgborder {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    @include margin(10px);
    margin-top: 40px;
    width: 50%;
    max-width: 520px;
  }
  //
  //
  // Hamburger desktop
  // Level 2 dropdown button 1
  nav ul {
    overflow: visible;
    display: none;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  nav li {
    background-color: white;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: auto;
  }
  a .subtext {
    @include font(1.3rem, 300);
    background-color: white;
    text-align: left;
    line-height: 2rem;
    margin: 0;
    padding: 0;
  }
  .navmargin {
    position: relative;
    width: 100%;
  }
  .level2d {
    position: absolute;
    margin: 0;
    top: 10px;
    left: 0;
    width: 230px;
    height: 500px;
    text-align: left;
  }

  .hamburger2 > div {
    @include font(1.4rem, 500);
  }
  .dd2 {
    @include font(1.4rem, 500);
    padding: 0px;
  }
  .dd2:hover {
    transform: translate(10px, 0px);
    transition-duration: 0.2s;
    color: #3d3d3d;
  }
  .navmargin {
    border-left: 1px solid black;
  }
  input[type="radio"] {
    display: none;
  }
  #checkbox_toggle2d:checked ~ nav ul {
    display: initial;
  }
  // button 2
  #checkbox_toggle3d:checked ~ nav ul {
    display: initial;
  }
  // button 3
  #checkbox_toggle4d:checked ~ nav ul {
    display: initial;
  }
  //
  //
  // Overview
  .carouselgrid {
    display: grid;
    width: 90%;
    justify-content: left;
    align-content: center;
    grid-template-columns: minmax(250px, 1fr) auto;
    grid-template-rows: repeat(8, auto);
    row-gap: 10px;
  }
  .overviewpic {
    width: 100%;
    aspect-ratio: 43 / 26;
    margin: auto;
    border-radius: 15px;
    object-fit: contain;
    object-fit: fill;
    @include padding(10px);
    display: none;
    border: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 1 / 9;
  }
  .carouselbutton {
    @include font(1.8rem, 400);
    padding: 10px;
    color: grey;
    border-radius: 25px;
    text-align: left;
    vertical-align: center;
    margin: 0px;
    margin-right: 100px;
    text-wrap: nowrap;
    min-width: 0;
  }
  .carouselbutton.blank {
    display: initial;
    color: #faf0e4;
  }
  //
  //
  // AI Section
  .aicontainer {
    display: grid;
    justify-items: left;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .subheader {
    @include font(1.5rem, 500);
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .aiiconouterbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
  }
  //
  //
  // Recommend
  .sponsorgrid {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 20px;
  }
  //
  //
  // How it works

  .howcontainer.one {
    width: calc(100% - 60px);
    max-width: 1100px;
    margin: 30px;
    padding: 60px;
    background-color: #444445;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: left;

    .gridcell.one {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      margin: 10px;
      min-width: 100%;
      align-self: center;
    }
  }
  .howlargecontainer {
    background-color: #2f2f30;
    display: grid;
    max-width: 1100px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    .blackbackground.large {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .howcontainer.one {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .howcontainer.two {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    .howcontainer.three {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    .greybutton.long {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      width: 200px;
      max-width: 200px;
      justify-self: center;
    }
  }
  .blackcontainer {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .blackbackground.large {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .howcontainer.two div,
  .howcontainer.three div,
  .howcontainer.two p,
  .howcontainer.three p {
    margin: 50px;
  }
  .imageunderlay {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1100px) {
  .dummybody {
    margin: 0 auto;

    max-width: 1100px;
  }
  .navlinks div {
    @include padding(10px);
    padding-left: 0px;
    padding-right: 8px;
    margin-left: 20px;
  }
  a .subtext {
    @include font(1.3rem, 300);
    background-color: white;
    text-align: left;
    line-height: 2rem;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1450px) {
  // Same as previous however nav stops to grow and just centers as does rest of site
}
//
//
// Animations
.navbarcase {
  animation: droponload 1.5s ease-in-out, shadowonload 5s ease-in-out;
}
.cell7 {
  animation: moveuponload 0.75s ease-in-out, fadeonload 1s ease-in-out;
}
.cell1,
.cell11,
.largecell,
.mediumcell {
  animation: moveuponload2 1.2s ease-in-out, fadeonload2 1.2s ease-in-out;
}

.cell2 {
  animation: movefaruponload 1.2s ease-in-out, fadeonload2 1.2s ease-in-out;
}
.cell3,
.cell4,
.cell5,
.cell6 {
  animation: centerleftload 3s ease-in-out, fadeonload2 3s ease-in-out;
}
.cell8,
.cell9,
.cell10 {
  animation: centerrightload 3s ease-in-out, fadeonload2 3s ease-in-out;
}
