@keyframes droponload {
  0% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveuponload {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes moveuponload2 {
  0% {
    transform: translateY(30%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes movefaruponload {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fadeonload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeonload2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadowonload {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 204, 204, 0.33);
  }
  99% {
    box-shadow: 0 0 0 0 rgba(204, 204, 204, 0.33);
  }
  100% {
    box-shadow: 0 0 15px 6px rgba(204, 204, 204, 0.33);
  }
}
@keyframes centerleftload {
  0% {
    transform: translate(300%, -50%);
  }
  33% {
    transform: translate(300%, -50%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes centerrightload {
  0% {
    transform: translate(-300%, -50%);
  }
  33% {
    transform: translate(-300%, -50%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
* {
  background-color: #faf0e4;
  font-size: 62.5%;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 100vw;
}

.logo {
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
  height: 80px;
  margin-top: 20px;
}

.navbarcase {
  display: flex;
  flex-direction: row;
  z-index: 2;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 0 15px 6px rgba(204, 204, 204, 0.33);
}

.navlink.box {
  border: 1px solid black;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 25px;
  width: 150px;
  display: block;
  align-self: center;
}

#shadedbox {
  background-color: #2f2f30;
  color: #faf0e4;
}

.box:hover {
  background-color: #2f2f30;
  color: #faf0e4;
}

.navlinks {
  display: none;
}

.navlink2 {
  font-size: 4rem;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 5px;
}

nav ul {
  max-height: 0px;
  overflow: hidden;
  list-style: none;
  transition: all 5s cubic-bezier(0.325, 1, 0.22, 1);
  width: 100%;
}

.horizontal > ul {
  width: 100%;
  transition: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linebreak {
  border-top: 1px solid rgb(183, 183, 183);
}

.horizontal > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  transition: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 0px;
  margin-top: 10px;
  transition: none;
}

.bottommenu {
  padding-bottom: 20px;
}

nav {
  padding: 0;
  margin: 0;
  width: 100%;
}

nav li {
  line-height: 3rem;
  font-size: 2rem;
  padding: 10px 0;
  display: flex;
  justify-content: left;
  width: 100%;
}

nav li a {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
}

.level2 {
  display: none;
  margin: 0;
  padding: 0;
}

#checkbox_toggle2:checked ~ nav ul {
  display: initial;
}

.hamburger2 > div {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
}

.dd2 {
  padding-left: 24px;
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  transition-timing-function: ease-in-out;
}

.dd2:hover {
  transform: translate(10px, 0px);
  transition-duration: 0.2s;
  color: #3d3d3d;
}

.subtext {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 1.4rem;
  font-weight: 300;
}

.navmargin {
  border-left: 1px solid black;
}

#checkbox_toggle3:checked ~ nav ul {
  display: initial;
}

#checkbox_toggle4:checked ~ nav ul {
  display: initial;
}

#checkbox_toggle1:checked ~ nav ul {
  max-height: 150vh;
  transition: all 2s cubic-bezier(0.5, 1, 0.22, 1);
}

input[type=checkbox] {
  display: none;
}

input[type=radio] {
  display: none;
}

.hamburger {
  display: block;
  position: absolute;
  top: 50px;
  right: 25px;
  height: 27px;
  width: 27px;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.line {
  position: absolute;
  display: block;
  background: #3d3d3d;
  width: 18px;
  height: 0.2rem;
  border-radius: 0.2rem;
  left: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
}

.line-1 {
  top: 0;
}

.line-2 {
  top: 7px;
  width: 18px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.line-3 {
  top: 14px;
}

input[type=checkbox]:checked ~ label .line-1 {
  top: 0px;
  width: 22px;
  transform: translateX(-11px) rotate(-45deg) translateY(12px);
}

input[type=checkbox]:checked ~ label .line-2 {
  opacity: 0;
}

input[type=checkbox]:checked ~ label .line-3 {
  top: 14px;
  width: 22px;
  transform: translateX(-8px) rotate(45deg) translateY(-8px);
}

.introduction {
  margin-left: 20px;
  margin-right: 20px;
  -webkit-hyphens: auto;
          hyphens: auto;
}

h1,
h3 {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0px;
}

p {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.emailsignup {
  display: flex;
  justify-content: center;
}

#email_address {
  width: 70%;
  max-width: 450px;
  height: auto;
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  align-items: center;
  border-right: none;
  border-radius: 25px;
}

.signupfree {
  border: 1px solid #186ae5;
  background-color: #186ae5;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-left: -50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  width: 136px;
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 1.4rem;
  font-weight: 300;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.videoguide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imgborder {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 110px;
  width: 90%;
  max-width: 740px;
}

.vidpic {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
}

h2 {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 2.2rem;
  font-weight: 300;
  margin-left: -40px;
  line-height: 50px;
}

.bulletbox > ol {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 3rem;
  font-weight: 300;
  color: #98999a;
  line-height: 50px;
}

ol > li {
  padding-left: 20px;
}

.hover2 {
  transition: color 0.5s;
  position: relative;
  line-height: 50px;
}

.hover2:hover {
  color: black;
  list-style: none;
}

.hover2:hover .circle {
  opacity: 1;
}

.hover2:hover .arrow {
  transform: translateY(0%);
  opacity: 1;
}

.hover2:hover .number {
  transform: translateY(50%);
  opacity: 0;
  color: black;
  z-index: 1;
}

.arrow {
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  position: absolute;
  top: 0px;
  left: -32px;
  font-size: 2rem;
  opacity: 0;
  background-color: transparent;
  transform: translateY(-75%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;
}

.circle {
  border-radius: 50%;
  background-color: #f67748;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  position: absolute;
  top: 5px;
  left: -32px;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.number {
  width: 40px;
  height: 40px;
  text-align: center;
  color: #98999a;
  background-color: transparent;
  position: absolute;
  top: 0px;
  z-index: -1;
  left: -32px;
  font-size: 2rem;
  transition: opacity 0.4s ease-out, transform 0.5s ease-in-out;
}

.overview {
  margin-top: 50px;
}

.introduction2 {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  display: none;
}

.container {
  display: grid;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 0;
  grid-template-columns: 0.6fr 0.6fr 1fr 42% 1fr 0.6fr 0.6fr;
  grid-template-rows: auto;
  width: 100%;
  max-width: 1000px;
  background-color: transparent;
  justify-items: center;
  align-items: center;
}
.container .largecell {
  min-width: 550px;
  max-width: 650px;
  height: 100%;
  grid-column: 3/6;
  grid-row: 3/8;
  background-color: transparent;
}
.container .mediumcell {
  width: 100%;
  max-width: 650px;
  height: 100%;
  grid-column: 3/6;
  grid-row: 8/9;
  background-color: transparent;
}
.container .spacecell {
  width: 100%;
  height: 60px;
  grid-column: 1/8;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background-color: transparent;
}
.container .cell1 {
  width: 130%;
  height: 130%;
  grid-column: 1/3;
  grid-row: 8/9;
  z-index: 1;
  background-color: transparent;
}
.container .cell1 .collage {
  transform: translate(-1.5vw, -2vw);
}
.container .cell2 {
  width: 220%;
  height: 150%;
  grid-column: 2/3;
  grid-row: 7/8;
  background-color: transparent;
}
.container .cell2 .collage {
  transform: translate(2vw, 1vw);
}
.container .cell3 {
  width: 170%;
  height: 200%;
  grid-column: 1/2;
  grid-row: 6/7;
  background-color: transparent;
}
.container .cell3 .collage {
  transform: translate(6.7vw, 4.5vw);
}
.container .cell4 {
  width: 150%;
  height: 150%;
  grid-column: 1/2;
  grid-row: 5/6;
  background-color: transparent;
}
.container .cell4 .collage {
  transform: translate(1vw, 3vw);
}
.container .cell5 {
  width: 130%;
  height: 130%;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: transparent;
}
.container .cell5 .collage {
  transform: translate(-3vw, 2.5vw);
}
.container .cell6 {
  width: 50%;
  height: 50%;
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: transparent;
}
.container .cell6 .collage {
  transform: translate(-1vw, -5.5vw);
}
.container .cell7 {
  width: 100%;
  height: 100%;
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  background-color: transparent;
}
.container .cell7 .collage {
  max-height: 130px;
  width: auto;
}
.container .cell8 {
  width: 50%;
  height: 50%;
  grid-column: 5/6;
  grid-row: 2/3;
  background-color: transparent;
  transform: rotate(10deg);
}
.container .cell8 .collage {
  transform: translate(-2vw, -5.5vw);
}
.container .cell9 {
  width: 150%;
  height: 150%;
  grid-column: 6/7;
  grid-row: 2/3;
  background-color: transparent;
  transform: rotate(10deg);
}
.container .cell9 .collage {
  transform: translate(-1vw, 6.5vw);
}
.container .cell10 {
  width: 180%;
  height: 180%;
  grid-column: 6/7;
  grid-row: 4/5;
  background-color: transparent;
  z-index: 2;
}
.container .cell10 .collage {
  transform: translate(7vw, 16.5vw);
}
.container .cell11 {
  width: 150%;
  height: 150%;
  grid-column: 6/8;
  grid-row: 8/9;
  background-color: transparent;
}
.container .cell11 .collage {
  transform: translate(2vw, -5vw);
  z-index: 1;
}
.container .collage {
  width: 100%;
  background-color: transparent;
}

@media screen and (min-width: 480px) {
  nav ul {
    transition: all 0s cubic-bezier(0.325, 1, 0.22, 1);
  }
  nav li {
    transition: all 0s cubic-bezier(0.325, 1, 0.22, 1);
  }
  .logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    height: 80px;
    margin-top: 20px;
  }
  .horizontal > ul {
    width: 100%;
    transition: none;
  }
  .horizontal > li {
    width: 100%;
    text-align: center;
    transition: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgb(183, 183, 183);
    transition: none;
  }
  .horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 0px;
    margin-top: 10px;
    transition: none;
  }
}
@media screen and (min-width: 760px) {
  .videoguide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
  .imgborder {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 110px;
    width: 40%;
    max-width: 600px;
  }
  .vidpic {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
  }
  .bulletbox {
    margin-top: 80px;
    width: 30%;
  }
  .level1 {
    height: 0px;
  }
  .logo {
    width: 100px;
    height: 80px;
    margin: 0;
    margin-left: 10px;
  }
  .navbarcase {
    height: 80px;
  }
  .hamburger {
    top: 35px;
    right: 25px;
  }
  .navlogo {
    height: 80px;
  }
  .horizontal {
    margin: 0px;
    align-items: center;
    height: 72px;
    display: flex;
    justify-content: center;
    transition: none;
  }
  .horizontal > li {
    display: inline-block;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(183, 183, 183);
    min-height: 72px;
    transition: none;
  }
  #horizontal {
    transition: none;
  }
  .introduction {
    display: none;
  }
  .introduction2 {
    display: initial;
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 990px) {
  .logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 60px;
    height: 80px;
  }
  .navbarcase {
    display: flex;
    align-items: center;
    position: sticky;
    align-content: center;
    height: 80px;
    top: 0;
    box-shadow: 0 0 15px 6px rgba(204, 204, 204, 0.33);
  }
  .hamburger,
  .level1 {
    display: none;
  }
  .logo {
    width: 100px;
    height: 80px;
    margin: 0;
    margin-left: 50px;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: "Noto Sans", sans-serif;
    color: black;
    font-size: 2.3rem;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 24px;
  }
  .navlinks div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
  .navlink.box {
    border: 1px solid black;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 14px;
    border-radius: 25px;
  }
  #shadedbox {
    background-color: #2f2f30;
    color: #faf0e4;
  }
  .box:hover {
    background-color: #2f2f30;
    color: #faf0e4;
  }
  a {
    font: inherit;
    text-decoration: inherit;
    color: inherit;
    background-color: transparent;
  }
  .navlink.box {
    border: 1px solid black;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 25px;
    width: 150px;
    display: block;
  }
  .imgborder {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 110px;
    width: 50%;
    max-width: 520px;
  }
}
@media screen and (min-width: 1100px) {
  .dummybody {
    margin: 0 auto;
    max-width: 1100px;
  }
  .navlinks div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
  }
}
.navbarcase {
  animation: droponload 1.5s ease-in-out, shadowonload 5s ease-in-out;
}

.cell7 {
  animation: moveuponload 0.75s ease-in-out, fadeonload 1s ease-in-out;
}

.cell1,
.cell11,
.largecell,
.mediumcell {
  animation: moveuponload2 1.2s ease-in-out, fadeonload2 1.2s ease-in-out;
}

.cell2 {
  animation: movefaruponload 1.2s ease-in-out, fadeonload2 1.2s ease-in-out;
}

.cell3,
.cell4,
.cell5,
.cell6 {
  animation: centerleftload 3s ease-in-out, fadeonload2 3s ease-in-out;
}

.cell8,
.cell9,
.cell10 {
  animation: centerrightload 3s ease-in-out, fadeonload2 3s ease-in-out;
}/*# sourceMappingURL=style.css.map */